<h1>Listing Editions</h1>

<div class="table-responsive">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date of event</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @editions.each do |edition| %>
      <tr>
        <td><%= edition.name %></td>
        <td><%= edition.date_of_event %></td>
        <td><%= link_to 'Show', edition %></td>
        <td><%= link_to 'Edit', edit_edition_path(edition) %></td>
        <td><%= link_to 'Destroy', edition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Edition', new_edition_path %>
