<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @edition.name %>
</p>

<p>
  <strong>Date of event:</strong>
  <%= @edition.date_of_event %>
</p>

<%= link_to 'Edit', edit_edition_path(@edition) %> |
<%= link_to 'Back', editions_path %>
