<%= form_for(@participant, format: :json, remote: true, html: {class: 'form-inline', id: 'participant-form'}) do |f| %>

	<div class='form-notice alert-danger'>
	</div>

	My name is <%= f.text_field :name %>

	<br>
	I'm a <%= f.select :student_or_employed,
		options_for_select(Participant.student_or_employed_options) %>.

	<br>
	I <%= f.select :attended_meetups,
		options_for_select(Participant.attended_meetups_options) %>
		attended Chennai.rb meetups before.

	<br>
	I <%= f.select :have_ruby_configured_laptop,
		options_for_select(Participant.have_ruby_configured_laptop_options) %>
		a Ruby configured laptop.

	<br>
	I <%= f.select :living_in_chennai,
		options_for_select(Participant.living_in_chennai_options) %>
		in Chennai.

	<br>
	My email-id is <%= f.email_field :email %>

	<br>
	<%= f.submit 'Lets go', class: 'btn btn-primary' %>

<% end %>
