<%= form_for(@coach) do |f| %>
  <% if @coach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coach.errors.count, "error") %> prohibited this coach from being saved:</h2>

      <ul>
      <% @coach.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :twitter_handle %><br>
    <%= f.text_field :twitter_handle %>
  </div>
  <div class="field">
    <%= f.label :attended_meetups %><br>
    <%= f.check_box :attended_meetups %>
  </div>
  <div class="field">
    <%= f.label :living_in_chennai %><br>
    <%= f.check_box :living_in_chennai %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
